<main class="m-5 p-5">
  <div class="d-flex justify-content-center">
    <h3>Suas Receitas favoritas</h3>
  </div>
  <div
    class="d-flex justify-content-center align-content-center align-items-center border-top mt-2 p-5"
  >
    <div class="row d-flex justify-content-center">
      <div class="card col m-5" style="min-width: 16rem; max-width: 18rem">
        <img style="min-height: 16rem; object-fit: cover;" src="../../../assets/bobo.jpg" class="card-img-top rounded-3" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Bobó de Camarão</h5>
          <div class="mb-2">
              <p class="card-text bg-primary rounded-3 px-2 p-1 fw-medium " style="width: fit-content; font-size: 12px;">45 min</p>
             
          </div>
          <div class="d-flex justify-content-between align-content-center align-items-center">
            <span class="material-symbols-outlined"> star </span>
              <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>
      </div>
      <div class="card col m-5" style="min-width: 16rem; max-width: 18rem">
        <img style="min-height: 16rem; object-fit: cover;" src="../../../assets/brownie.jpg" class="rounded-3 " alt="..." />
        <div class="card-body">
          <h5 class="card-title">Brownie</h5>
          <div class="mb-2">
              <p class="card-text bg-primary rounded-3 px-2 p-1 fw-medium " style="width: fit-content; font-size: 12px;">45 min</p>
             
          </div>
          <div class="d-flex justify-content-end">
              <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>
      </div>
      <div class="card col m-5" style="min-width: 16rem; max-width: 18rem">
        <img style="min-height: 16rem; object-fit: cover;" src="../../../assets/bolorolo.jpg" class="card-img-top img-fluid rounded-3" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Bobó de Camarão</h5>
          <div class="mb-2">
              <p class="card-text bg-primary rounded-3 px-2 p-1 fw-medium " style="width: fit-content; font-size: 12px;">45 min</p>
             
          </div>
          <div class="d-flex justify-content-end">
              <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
