<app-topbar></app-topbar>
<main class="container m-auto mt-5 p-5">
  <div class="d-flex justify-content-center">
    <h3>Suas Receitas favoritas</h3>
  </div>
  @if (!hasFavorites) {
    <app-favorite-empty></app-favorite-empty>
  }@else {
    <div
      class=" d-flex justify-content-center align-content-center align-items-center mt-2 py-4"
    >
      <div class="row w-100 d-flex justify-content-center">
        @for (recipe of favoritedRecipes; track $index) {
          <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
            <img
              style="min-height: 16rem; object-fit: cover"
              src="{{recipe.recipeId.image}}"
              class="card-img-top rounded-3"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{recipe.recipeId.name}}</h5>
              <div class="mb-2">
                <p
                  class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
                  style="width: fit-content; font-size: 12px"
                >
                  {{recipe.recipeId.time}} min
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-content-center align-items-center"
              >
              <button (click)="openDialog(recipe, '0ms', '0ms')" class="btn favorite-btn">
                <i class="fas fa-heart"></i>
              </button >
              
                <a  [routerLink]="['/recipe', recipe.recipeId.id]" href="#" class="btn btn-primary">Abrir</a>
              </div>
            </div>
          </div>
        }
        <!-- <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
          <img
            style="min-height: 16rem; object-fit: cover"
            src="../../../assets/brownie.jpg"
            class="rounded-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Brownie</h5>
            <div class="mb-2">
              <p
                class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
                style="width: fit-content; font-size: 12px"
              >
                45 min
              </p>
            </div>
            
            <div
              class="d-flex justify-content-between align-content-center align-items-center"
            >
            <button class="btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="28px"
                viewBox="0 -960 960 960"
                width="28px"
                fill="#F7CE91"
              >
                <path
                  d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"
                />
              </svg>
            </button>
              <a href="#" class="btn btn-primary">Abrir</a>
            </div>
          </div>
        </div>
        <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
          <img
            style="min-height: 16rem; object-fit: cover"
            src="../../../assets/bolorolo.jpg"
            class="card-img-top img-fluid rounded-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Bobó de Camarão</h5>
            <div class="mb-2">
              <p
                class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
                style="width: fit-content; font-size: 12px"
              >
                45 min
              </p>
            </div>
            <div
              class="d-flex justify-content-between align-content-center align-items-center"
            >
            <button class="btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="28px"
                viewBox="0 -960 960 960"
                width="28px"
                fill="#F7CE91"
              >
                <path
                  d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"
                />
              </svg>
            </button>
              <a href="#" class="btn btn-primary">Abrir</a>
            </div>
          </div>
        </div>
        <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
          <img
            style="min-height: 16rem; object-fit: cover"
            src="../../../assets/bolorolo.jpg"
            class="card-img-top img-fluid rounded-3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Bobó de Camarão</h5>
            <div class="mb-2">
              <p
                class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
                style="width: fit-content; font-size: 12px"
              >
                45 min
              </p>
            </div>
            <div
              class="d-flex justify-content-between align-content-center align-items-center"
            >
            <button class="btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="28px"
                viewBox="0 -960 960 960"
                width="28px"
                fill="#F7CE91"
              >
                <path
                  d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"
                />
              </svg>
            </button>
              <a href="#" class="btn btn-primary">Abrir</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  }
</main>
