.main-container {
  height: 100vh;
}

.main-container::before{
  content: ''; /* Adiciona um conteúdo vazio para o pseudo-elemento */
  position: absolute; /* Posiciona o pseudo-elemento absolutamente em relação ao seu pai */
  top: 0; /* Define a posição superior */
  left: 0; /* Define a posição esquerda */
  width: 100%; /* Garante que o pseudo-elemento ocupe toda a largura */
  height: 100%; /* Garante que o pseudo-elemento ocupe toda a altura */
  background-image: url(../../../assets/background.jpg); /* Define a imagem de fundo */
  background-size: cover; /* Ajusta o tamanho da imagem de fundo */
  opacity: 0.2; /* Define a opacidade da imagem de fundo */
  z-index: -1;
}

.form-signin {
    max-width: 800px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0}