<app-topbar></app-topbar>
<main class="container m-auto mt-5 p-5">
  <div class="d-flex justify-content-center">
    <h3>Minhas Receitas</h3>
  </div>
  <div
    class="d-flex justify-content-center align-content-center align-items-center mt-2 py-4"
  >
    <div class="row w-100">
      <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
        <img
          style="min-height: 16rem; object-fit: cover"
          src="../../../assets/bobo.jpg"
          class="card-img-top rounded-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Bobó de Camarão</h5>
          <div class="mb-2">
            <p
              class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
              style="width: fit-content; font-size: 12px"
            >
              45 min
            </p>
          </div>
          <div
            class="d-flex justify-content-end gap-3 align-content-center align-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
        <img
          style="min-height: 16rem; object-fit: cover"
          src="../../../assets/brownie.jpg"
          class="rounded-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Brownie</h5>
          <div class="mb-2">
            <p
              class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
              style="width: fit-content; font-size: 12px"
            >
              45 min
            </p>
          </div>
          <div
            class="d-flex justify-content-end gap-3 align-content-center align-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
        <img
          style="min-height: 16rem; object-fit: cover"
          src="../../../assets/bolorolo.jpg"
          class="card-img-top img-fluid rounded-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Bobó de Camarão</h5>
          <div class="mb-2">
            <p
              class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
              style="width: fit-content; font-size: 12px"
            >
              45 min
            </p>
          </div>
          <div
            class="d-flex justify-content-end gap-3 align-content-center align-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="card col m-2" style="min-width: 16rem; max-width: 18rem">
        <img
          style="min-height: 16rem; object-fit: cover"
          src="../../../assets/bolorolo.jpg"
          class="card-img-top img-fluid rounded-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Bobó de Camarão</h5>
          <div class="mb-2">
            <p
              class="card-text bg-primary rounded-3 px-2 p-1 fw-medium"
              style="width: fit-content; font-size: 12px"
            >
              45 min
            </p>
          </div>
          <div
            class="d-flex justify-content-end gap-3 align-content-center align-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#F5C57D"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
