<app-topbar></app-topbar>

<main class="container my-5 p-5">
  <div class="row pb-5">
    <div class="col-sm-8 col-md-8 col-12">
      <div
        class="col-12 d-flex align-items-center justify-content-between mb-1"
      >
        <h1>{{recipe.name}}</h1>
        <div class="d-flex gap-2">
          <button class="btn rounded-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="black"
            >
              <path
                d="m480-144-50-45q-100-89-165-152.5t-102.5-113Q125-504 110.5-545T96-629q0-89 61-150t150-61q49 0 95 21t78 59q32-38 78-59t95-21q89 0 150 61t61 150q0 43-14 83t-51.5 89q-37.5 49-103 113.5T528-187l-48 43Zm0-97q93-83 153-141.5t95.5-102Q764-528 778-562t14-67q0-59-40-99t-99-40q-35 0-65.5 14.5T535-713l-35 41h-40l-35-41q-22-26-53.5-40.5T307-768q-59 0-99 40t-40 99q0 33 13 65.5t47.5 75.5q34.5 43 95 102T480-241Zm0-264Z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="d-flex gap-1">
          <span class="material-symbols-outlined"> star </span>
          <span class="material-symbols-outlined"> star </span>
          <span class="material-symbols-outlined"> star </span>
          <span class="material-symbols-outlined"> star </span>
          <span class="material-symbols-outlined"> star </span>
          <span class="text-decoration-underline">5.0</span>
          <span>(4)</span>
        </div>
        <div class="mt-2 d-flex justify-content-between">
          <span class="d-flex gap-2"><span class="material-symbols-outlined">person</span> <strong>{{recipe.portions}} </strong>Pessoas</span>
          <span class="d-flex gap-2" >  <span class="material-symbols-outlined">schedule</span> <strong>{{recipe.time}}</strong> min </span>
        </div>
        <div class="mt-2">
          <span>Criado por: <strong>{{recipe.users.username}}</strong></span>
        </div>
      </div>
      <div class="col-12 mb-2">
        <p style="text-align: justify;">
          {{recipe.description}}
        </p>
      </div>
      <div class="col-12 d-flex justify-content-start mb-4">
        <img
          class="rounded-2 img-fluid"
          [src]="recipe.image"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-12">
        <h2>Ingredientes</h2>
        <div class="d-flex justify-content-start gap-2">
          @if (recipe.type === 1) {
            <div class="mx-4">
              <h5>
                <hr />
                Massa
              </h5>
              <div class="d-flex flex-column gap-2 mt-4">
                @for (item of recipe.ingredients; track $index) {
                <span>{{ item.name }}</span>
                }
              </div>
            </div>
          }
          @if (recipe.type === 2) {
            <div class="mx-4">
              <h5>
                <hr />
                Massa
              </h5>
              <div class="d-flex flex-column gap-2 mt-4">
                @for (item of doughIngredients; track $index) {
                <span>{{ item.name }}</span>
                }
              </div>
            </div>
            <div class="mx-4">
              <h5>
                <hr />
                Recheio
              </h5>
              <div class="d-flex flex-column gap-2 mt-4">
                @for (item of fillingIngredients; track $index) {
                <span>{{ item.name }}</span>
                }
              </div>
            </div>
          }
          
        </div>
      </div>
      <div class="col-12 mt-5">
        <h3>Passo a Passo</h3>
        @if (recipe.type === 1) {
          <div class="mx-4">
            <h5>
              <hr />
              Massa
            </h5>
            <div class="gap-2 mt-4">
              @for (item of recipe.steps; track $index) {
              <div class="d-flex flex-column mt-2">
                <div class="d-flex gap-3 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input border border-black"
                  />
                  <strong trong>Passo {{ $index + 1 }}</strong>
                </div>
                <span>{{ item.step }}</span>
              </div>
              }
            </div>
          </div>
        }
       
        @if (recipe.type === 2) {
          <div class="mx-4">
            <h5>
              <hr />
              Massa
            </h5>
            <div class="gap-2 mt-4">
              @for (item of doughSteps; track $index) {
              <div class="d-flex flex-column mt-2">
                <div class="d-flex gap-3 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input border border-black"
                  />
                  <strong trong>Passo {{ $index + 1 }}</strong>
                </div>
                <span>{{ item.step }}</span>
              </div>
              }
            </div>
          </div>
          <div class="mx-4">
            <h5>
              <hr />
              Recheio
            </h5>
            <div class="gap-2 mt-4">
              @for (item of fillingSteps; track $index) {
              <div class="d-flex flex-column mt-2">
                <div class="d-flex gap-3 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input border border-black"
                  />
                  <strong trong>Passo {{ $index + 1 }}</strong>
                </div>
                <span>{{ item.step }}</span>
              </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
    <div
      class="col-sm-3 d-none d-sm-flex d-md-flex justify-content-center "
    >
      <div style="background-color: #fbf8f3" class="rounded-2 p-3 h-25 ">
        <h5>Palavras-chave</h5>
        <div class="d-flex flex-column  gap-2 mt-4">
          @for (item of recipe.categories_selected; track $index) {
            <span style="width: fit-content;" class="bg-primary p-1 px-2 rounded-3">{{item.categoriesId.name}}</span>
          }
          <!-- <span style="width: fit-content;" class="bg-primary p-1 px-2 rounded-3">Almoço</span>
          <span style="width: fit-content;" class="bg-primary p-1 px-2 rounded-3">no carbo</span> -->
        </div>
      </div>
    </div>
  </div>
</main>
